Script/flows.json
[{"id":"768a2cd1.4ddd74","type":"mqtt in","z":"11e335a5.217d2a","name":"WISE-4610_UpLink","topic":"uplink/#","qos":"1","datatype":"auto","broker":"ad909961.806ac8","x":230,"y":120,"wires":[["83fb01f5.e2ec6"]]},{"id":"f62dd8d8.d23868","type":"mqtt in","z":"11e335a5.217d2a","name":"WISE-4610-S614","topic":"Advantech/FF44E0F1/data","qos":"0","datatype":"auto","broker":"ad909961.806ac8","x":240,"y":180,"wires":[["8f65961f.f4df58"]]},{"id":"8f65961f.f4df58","type":"json","z":"11e335a5.217d2a","name":"","x":410,"y":180,"wires":[["10556f5d.eebcc1","6e79ea87.6631e4","5837aad5.c71d34","deea26c6.947838"]]},{"id":"83fb01f5.e2ec6","type":"json","z":"11e335a5.217d2a","name":"","x":411,"y":121,"wires":[["10556f5d.eebcc1"]]},{"id":"9dff4123.25a2","type":"ui_template","z":"11e335a5.217d2a","group":"ef5a0d1f.443ff","name":"table for DI channels","order":0,"width":"15","height":"4","format":"<table style=\"width:100%\">\n  <tr>\n    <th></th>\n    <th>Mode</th> \n    <th>Value</th> \n  </tr>\n  <tr>\n    <td>DI0</td>\n    <td>{{msg.payload[0]}}</td>\n    <td>{{msg.payload[1]}}</td> \n  </tr>\n  <tr>\n    <td>DI1</td>\n    <td>{{msg.payload[2]}}</td>\n    <td>{{msg.payload[3]}}</td> \n  </tr>\n  <tr>\n    <td>DI2</td>\n    <td>{{msg.payload[4]}}</td>\n    <td>{{msg.payload[5]}}</td> \n  </tr>\n  <tr>\n    <td>DI3</td>\n    <td>{{msg.payload[6]}}</td>\n    <td>{{msg.payload[7]}}</td> \n  </tr>\n  <tr>\n    <td>DI4</td>\n    <td>{{msg.payload[8]}}</td>\n    <td>{{msg.payload[9]}}</td> \n  <tr>\n    <td>DI5</td>\n    <td>{{msg.payload[10]}}</td>\n    <td>{{msg.payload[11]}}</td> \n  </tr>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":900,"y":300,"wires":[[]]},{"id":"23d5f87c.7f9918","type":"ui_template","z":"11e335a5.217d2a","group":"49404c17.ccb214","name":"table for RTU","order":0,"width":"15","height":"7","format":"<table style=\"width:100%\">\n   <tr>\n    <th></th>\n    <th>Status</th> \n    <th>Data</th> \n  </tr>\n  <tr>\n    <td>RTU_0-0</td>\n    <td>{{msg.payload[0]}}</td> \n    <td>{{msg.payload[1]}}</td> \n  </tr>\n  <tr>\n    <td>RTU_0-1</td>\n    <td>{{msg.payload[2]}}</td> \n    <td>{{msg.payload[3]}}</td> \n  </tr>\n  <tr>\n    <td>RTU_0-2</td>\n    <td>{{msg.payload[4]}}</td> \n    <td>{{msg.payload[5]}}</td> \n  </tr>\n  <tr>\n    <td>RTU_0-3</td>\n    <td>{{msg.payload[6]}}</td> \n    <td>{{msg.payload[7]}}</td> \n  </tr>\n  <tr>\n    <td>RTU_0-4</td>\n    <td>{{msg.payload[8]}}</td> \n    <td>{{msg.payload[9]}}</td> \n  </tr>\n    <tr>\n    <td>RTU_0-5</td>\n    <td>{{msg.payload[10]}}</td> \n    <td>{{msg.payload[11]}}</td> \n  </tr>\n  <tr>\n    <td>RTU_1-0</td>\n    <td>{{msg.payload[12]}}</td> \n    <td>{{msg.payload[13]}}</td> \n  </tr>\n  <tr>\n    <td>RTU_1-1</td>\n    <td>{{msg.payload[14]}}</td> \n    <td>{{msg.payload[15]}}</td> \n  </tr>\n  <tr>\n    <td>RTU_1-2</td>\n    <td>{{msg.payload[16]}}</td> \n    <td>{{msg.payload[17]}}</td> \n  </tr>\n  <tr>\n    <td>RTU_1-3</td>\n    <td>{{msg.payload[18]}}</td> \n    <td>{{msg.payload[19]}}</td> \n  </tr>\n  <tr>\n    <td>RTU_1-4</td>\n    <td>{{msg.payload[20]}}</td> \n    <td>{{msg.payload[21]}}</td> \n  </tr>\n  <tr>\n    <td>RTU_1-5</td>\n    <td>{{msg.payload[22]}}</td> \n    <td>{{msg.payload[23]}}</td> \n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":870,"y":380,"wires":[[]]},{"id":"10556f5d.eebcc1","type":"join","z":"11e335a5.217d2a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":587,"y":160,"wires":[["9ea1655a.a53608"]]},{"id":"9ea1655a.a53608","type":"function","z":"11e335a5.217d2a","name":"Device","func":"var aryDevice = [];\nvar uplinkTopic={};\nvar advTopic={};\nvar dataGPS = {};\n\nfor(var key in msg.payload){\n    if(key.indexOf(\"uplink\")  > -1)\n        uplinkTopic = msg.payload[key];\n    else\n        advTopic = msg.payload[key];\n}\n\naryDevice[0] = uplinkTopic.devaddr;\nvar tempPowerSrc = advTopic.Device.PowerSrc;\nswitch (tempPowerSrc){\n    case 0:\n        aryDevice [1] = (\"NA\");\n        break;\n    case 1:\n        aryDevice [1] = (\"Line power\");\n        break;\n    case 2:\n        aryDevice [1] = (\"Device battery\");\n        break;\n    case 3:\n        aryDevice [1] = (\"Line power+Device battery\");\n        break;\n    default:\n        aryDevice [1] = (\"Reading error!!!\");\n}\naryDevice[2] = advTopic.Device.BatteryLevel;\naryDevice[3] = uplinkTopic.fcnt;\naryDevice[4] = uplinkTopic.lsnr;\naryDevice[5] = uplinkTopic.rssi;\naryDevice[6] = advTopic.Device.Time;\nvar tempDate = new Date();\naryDevice[7] = tempDate.toGMTString(aryDevice[6]);\naryDevice[6] = aryDevice[6] + \" UTC\";\n\nmsg.payload = aryDevice;\ndataGPS.payload = advTopic.Device.GNSS;\nreturn [msg, dataGPS];\n\n\n\n","outputs":2,"noerr":0,"x":741,"y":159,"wires":[["58f5e16c.0c217"],[]]},{"id":"df73b445.6e75a8","type":"ui_text","z":"11e335a5.217d2a","group":"9a64aa79.630c28","order":0,"width":"4","height":"4","name":"DI0: Counter overflow alarm","label":"","format":"  <font color=\"{{msg.color[0]}}\"><i class=\"fa fa-exclamation  fa-3x\" aria-hidden=\"true\"></i></font>","layout":"col-center","x":920,"y":340,"wires":[]},{"id":"6c71de4e.4dc0d","type":"ui_text","z":"11e335a5.217d2a","group":"74c7aef4.e352","order":1,"width":"4","height":"3","name":"RTU1: alarm","label":"","format":"  <font color=\" {{msg.color[0]}}\"><i class=\"fa fa-exclamation  fa-3x\" aria-hidden=\"true\"></i></font>","layout":"col-center","x":870,"y":420,"wires":[]},{"id":"3407810e.d75dae","type":"ui_template","z":"11e335a5.217d2a","group":"cb8bd404.5ee368","name":"","order":0,"width":"6","height":"2","format":"<img src=\"/title_4610.jpg\"/> ","storeOutMessages":false,"fwdInMessages":false,"x":205.00000381469727,"y":75.00000095367432,"wires":[[]]},{"id":"8cfb5c32.9bc8c","type":"ui_chart","z":"11e335a5.217d2a","name":"DI channel History data chart","group":"14389919.7e1f87","order":1,"width":"15","height":"4","label":"DI channel ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":920,"y":500,"wires":[[]]},{"id":"6e79ea87.6631e4","type":"function","z":"11e335a5.217d2a","name":"function with hash","func":"/*======================================================================\n== IIoT IAG AE team                                          by Haley.C\n== Input: WISE-4610 MQTT raw data.\n== Output: 1. DI mode and value.\n==         2. DI channel 0 history value for time chart.\n==         3. AI Range, Status, Raw Data, Event, MaxVal, MinVal\n==         4. AI channel 0 history value for time chart.\n======================================================================*/\n\n//msgSplit[1]~[4] are DI{};  msgSplit[5]~[8] are AI{}\nvar DI_list = [];   //extract \"DI\" key value\nvar AI_list = [];   //extract \"AI\" key value\nvar RTU0_list =[];\n//var Device_List[];\nvar DI_payload = [];   //store \"DI\" key value\nvar AI_payload = [];\nvar RTU0_payload = [];//store \"AI\" key value\nvar DI_counter_overflow =[];//indicate the alarm for counter overflow, store in msgDI.color\nvar AI_alarm =[];//indicate the alarm AI, store in msgAI.color\nvar msgDI={ payload: 0 , color: \"\"};   //output DI status, mode,value; msgDI.color contents the alarm for counter overflow\nvar msgAI={ payload: 0 , color: \"\"};   //output AI status, mode,value; msgAI.color contents the alarm\nvar msgRTU0={ payload: 0 , color: \"\"};   //output AI status, mode,value; msgAI.color contents the alarm\nvar DI_value_FOR_CHART = [];\nvar RTU0_value_FOR_CHART = [];\nvar msgDI_FOR_CHART = { payload: 0 }; //output for DI history chart\nvar msgRTU0_FOR_CHART = { payload: 0 }; //output for RTU0 history chart\nvar temp=0;    // onlly for calculation\n\nfor(var key in msg.payload){\n    if (key[0] ==\"D\" && key[1]==\"I\")\n    {\n        DI_list.push({\"key\":  key,\n        \"mode\" : msg.payload[key].mode,\n        \"status\" :msg.payload[key].status,\n        \"value\" : msg.payload[key].value});\n    }\n    else if (key[0]==\"R\" && key[1]==\"t\")\n    {\n        RTU0_list.push({\"key\":  key, \n        \"Status\" : msg.payload[key].Status, \n        \"Data\" :msg.payload[key].Data});\n    }\n    // if (key[0]==\"D\" && key[1]==\"e\")\n    // {\n    //   // Device_List.push({});\n    // }\n}\n//node.error (DI_list);\n//parsing DI wanted values\n//DI value is actually inside DI_list[].status \n//Counter value is in DI_list[].value\n//So switch case loop is depend on \"mode\"\n//DI has 6 channels, so i=0~3\nfor (var i=0, j=0; i<6; i++, j++){\n\ttemp=DI_list[i].mode;\n\t//node.error (temp);\n    DI_counter_overflow[i]=\"white\";\n\tswitch (temp){\n\t\tcase 0:\n\t\t\tDI_payload[j] = (\"DI\");\n\t\t\tDI_payload[++j] = DI_list[i].value;\n\t\t\tbreak;\n\t\tcase 1:\n\t\t\tDI_payload[j] = (\"Counter\");\n\t\t\tDI_payload[++j] = DI_list[i].value;\n            if (((DI_list[i].status>>2)&0x01)==1)\n                DI_counter_overflow [i]=(\"red\");\n            else\n                DI_counter_overflow [i]=(\"white\");\n            break;\n\t\tcase 2:\n\t\t\tDI_payload[j] = (\"LowToHighLatch\");\n\t\t\tDI_payload[++j] = (DI_list[i].status>>4)&0x01;\n\t\t\tbreak;\n\t\tcase 3:\n\t\t\tDI_payload[j] = (\"HighToLowLatch\");\n\t\t\tDI_payload[++j] = (DI_list[i].status>>5)&0x01;\n\t\t\tbreak;\n\t\tcase 4:\n\t\t\tDI_payload[j] = (\"Frequency\");\n\t\t\tDI_payload[++j] = DI_list[i].value;\n\t\t\tbreak;\n\t\tcase 255:\n\t\t\tDI_payload[j] = (\"UDI disable\");\n\t\t\tbreak;\n\t\tdefault:\n\t\t\tDI_payload[++j] = (\"Reading error!!!\");\n\t}\n            //node.error (DI_payload[j]);\n    DI_value_FOR_CHART[i]=DI_list[i].value;\n}\ntemp = 0;\nfor (i=0, j=0; i<12; i++, j++)\n{\n    temp = RTU0_list[i].Status;\n    switch (temp)\n    {\n        case 0:\n            RTU0_payload[j] = \"Active\";\n            RTU0_payload[++j] = RTU0_list[i].Data;\n            RTU0_value_FOR_CHART[i]= RTU0_list[i].Data;\n            break;\n        case 17:\n            RTU0_payload[j] = \"Non Active\";\n            RTU0_payload[++j] = \"N/A\";\n            break;\n    }\n    \n}\n\t\nmsgDI.payload = DI_payload;\nmsgDI.color=DI_counter_overflow;\nmsgDI_FOR_CHART.payload=DI_value_FOR_CHART;\nmsgRTU0.payload = RTU0_payload;\nmsgAI.color=AI_alarm;\nmsgRTU0_FOR_CHART.payload=RTU0_value_FOR_CHART;\n\n\nreturn [msgDI, msgDI_FOR_CHART, msgRTU0, msgRTU0_FOR_CHART];","outputs":4,"noerr":0,"x":550,"y":320,"wires":[["9dff4123.25a2","df73b445.6e75a8"],["fe0a9a24.cae088"],["23d5f87c.7f9918","6c71de4e.4dc0d","1222ff85.35b3f"],["66505116.4e34f"]]},{"id":"58f5e16c.0c217","type":"ui_template","z":"11e335a5.217d2a","group":"f22b9a5b.3f4598","name":"Device active list","order":0,"width":0,"height":0,"format":"<head><style>\nhr {\n    width:100%;\n\theight: 3px;\n\tbackground: rgb(255,242,0);\n    background-image: linear-gradient(to right,rgb(255,250,150),rgb(225,225,80), rgb(30,180,185),rgb(225,225,80), rgb(255,250,150));\n}\ntable {\n    width:100%;\n    border:1px;\n\ttext-align:center;\n}\ntr {\n    text-align:center;\n}\n    @-webkit-keyframes quickFlash {\n      0% {\n        background-color: green;\n        opacity: 1;\n      }\n      100% {\n        background-color: inherit;\n      }\n    }\n    .quickFlash {\n      -webkit-animation-name: quickFlash;\n      -webkit-animation-duration: 900ms;\n      -webkit-animation-iteration-count: 1;\n      -webkit-animation-timing-function: ease;\n      -moz-animation-name: quickFlash;\n      -moz-animation-duration: 900ms;\n      -moz-animation-iteration-count: 1;\n      -moz-animation-timing-function: ease;\n    }\n</style>\n</head>\n<body>\n<table style=\"width:100%\">\n    <tr>\n        <th>Device address</th>\n        <th>Power source</th>\n        <th>Battery voltage (%)</th> \n        <th>Fcnt</th>\n        <th>U/L SNR</th>\n        <th>U/L RSSI</th>\n        <th colspan=\"2\">Timestamp (UTC)</th>\n        <th colspan=\"2\">Timestamp (GMT)</th>\n    </tr>\n    <tr>\n        <td>{{msg.payload[0]}}</td>\n        <td>{{msg.payload[1]}}</td>\n        <td>{{msg.payload[2]}}</td>\n        <td><div class=\"animate\"  id=\"watchdiv1\">{{msg.payload[3]}}</div></td>\n        <td>{{msg.payload[4]}}</td>\n        <td><div class=\"animate\"  id=\"watchdiv2\">{{msg.payload[5]}}</div></td>\n        <td colspan=\"2\"><div class=\"animate\"  id=\"watchdiv3\">{{msg.payload[6]}}</div></td> \n        <td>{{msg.payload[7]}}</td>\n     </tr>\n</table>\n<script>\nfunction fcnFlash(element) {\nelement\n    .addClass(\"quickFlash\")\n    .on(\n        \"webkitAnimationEnd oanimationend msAnimationEnd animationend\",\n        function() {\n            $(this)\n            .delay(500)// Wait for milliseconds.\n            .queue(function() {            \n                $(this)\n                .removeClass(\"quickFlash\")\n                .dequeue();\n            });\n        }\n    );\n}\n\n  jQuery.fn.contentChange = function(callback){\n    var elms = jQuery(this);\n    elms.each(\n      function(i){\n        var elm = jQuery(this);\n        elm.data(\"lastContents\", elm.html());\n        window.watchContentChange = window.watchContentChange ? window.watchContentChange : [];\n        window.watchContentChange.push({\"element\": elm, \"callback\": callback});\n      }\n    )\n    return elms;\n  }\n  setInterval(function(){\n    if(window.watchContentChange){\n      for( i in window.watchContentChange){\n        if(window.watchContentChange[i].element.data(\"lastContents\") != window.watchContentChange[i].element.html()){\n          window.watchContentChange[i].callback.apply(window.watchContentChange[i].element);\n          window.watchContentChange[i].element.data(\"lastContents\", window.watchContentChange[i].element.html())\n        };\n      }\n    }\n  },50);\n  $('div.animate').each(function(index, item){\n      function showChange(){\n        var element = $(this);\n        fcnFlash($(item));\n      }\n      $(item).contentChange( showChange );\n\t});\n</script>","storeOutMessages":true,"fwdInMessages":true,"x":946.5078048706055,"y":167.5234408378601,"wires":[[]]},{"id":"fe0a9a24.cae088","type":"function","z":"11e335a5.217d2a","name":"Parse chart DI","func":"var DI0 = {};\nvar DI1 = {};\nvar DI2 = {};\nvar DI3 = {};\nvar DI4 = {};\nvar DI5 = {};\n\nDI0.payload = msg.payload[0];\nDI1.payload = msg.payload[1];\nDI2.payload = msg.payload[2];\nDI3.payload = msg.payload[3];\nDI4.payload = msg.payload[4];\nDI5.payload = msg.payload[5];\n\nDI0.topic = \"DI0\";\nDI1.topic = \"DI1\";\nDI2.topic = \"DI2\";\nDI3.topic = \"DI3\";\nDI4.topic = \"DI4\";\nDI5.topic = \"DI5\";\n\nreturn [DI0, DI1, DI2, DI3, DI4, DI5];","outputs":6,"noerr":0,"x":540,"y":440,"wires":[["8cfb5c32.9bc8c"],["8cfb5c32.9bc8c"],["8cfb5c32.9bc8c"],["8cfb5c32.9bc8c"],["8cfb5c32.9bc8c"],["8cfb5c32.9bc8c"]]},{"id":"deea26c6.947838","type":"debug","z":"11e335a5.217d2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":220,"wires":[]},{"id":"66505116.4e34f","type":"function","z":"11e335a5.217d2a","name":"Parse chart RTU","func":"var RTU0_0 = {};\nvar RTU0_1 = {};\nvar RTU0_2= {};\nvar RTU0_3 = {};\nvar RTU0_4 = {};\nvar RTU0_5 = {};\nvar RTU1_0 = {};\nvar RTU1_1 = {};\nvar RTU1_2 = {};\nvar RTU1_3 = {};\nvar RTU1_4 = {};\nvar RTU1_5 = {};\n\nRTU0_0.payload = msg.payload[0];\nRTU0_1.payload = msg.payload[1];\nRTU0_2.payload = msg.payload[2];\nRTU0_3.payload = msg.payload[3];\nRTU0_4.payload = msg.payload[4];\nRTU0_5.payload = msg.payload[5];\nRTU1_0.payload = msg.payload[6];\nRTU1_1.payload = msg.payload[7];\nRTU1_2.payload = msg.payload[8];\nRTU1_3.payload = msg.payload[9];\nRTU1_4.payload = msg.payload[10];\nRTU1_5.payload = msg.payload[11];\n\nRTU0_0.topic = \"RTU0_0\";\nRTU0_1.topic = \"RTU0_1\";\nRTU0_2.topic = \"RTU0_2\";\nRTU0_3.topic = \"RTU0_3\";\nRTU0_4.topic = \"RTU0_4\";\nRTU0_5.topic = \"RTU0_5\";\nRTU1_0.topic = \"RTU1_0\";\nRTU1_1.topic = \"RTU1_1\";\nRTU1_2.topic = \"RTU1_2\";\nRTU1_3.topic = \"RTU1_3\";\nRTU1_4.topic = \"RTU1_4\";\nRTU1_5.topic = \"RTU1_5\";\n\nreturn [RTU0_0, RTU0_1, RTU0_2, RTU0_3, RTU0_4, RTU0_5, RTU1_0, RTU1_1, RTU1_2, RTU1_3, RTU1_4, RTU1_5];","outputs":12,"noerr":0,"x":550,"y":600,"wires":[["d8d9e929.648db8"],["d8d9e929.648db8"],["d8d9e929.648db8"],["d8d9e929.648db8"],["d8d9e929.648db8"],["d8d9e929.648db8"],["1b1efff0.affa"],["1b1efff0.affa"],["1b1efff0.affa"],["1b1efff0.affa"],["1b1efff0.affa"],["1b1efff0.affa"]]},{"id":"d8d9e929.648db8","type":"ui_chart","z":"11e335a5.217d2a","name":"RTU0 channel History data chart","group":"14389919.7e1f87","order":1,"width":"15","height":"4","label":"RTU0 channel ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":930,"y":560,"wires":[[]]},{"id":"1b1efff0.affa","type":"ui_chart","z":"11e335a5.217d2a","name":"RTU1 channel History data chart","group":"14389919.7e1f87","order":1,"width":"15","height":"4","label":"RTU1 channel ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":930,"y":640,"wires":[[]]},{"id":"1222ff85.35b3f","type":"ui_text","z":"11e335a5.217d2a","group":"53fa2d02.694b84","order":1,"width":"4","height":"3","name":"RTU0: alarm","label":"","format":"  <font color=\" {{msg.color[0]}}\"><i class=\"fa fa-exclamation  fa-3x\" aria-hidden=\"true\"></i></font>","layout":"col-center","x":870,"y":460,"wires":[]},{"id":"5837aad5.c71d34","type":"function","z":"11e335a5.217d2a","name":"","func":"var DI_list =[];\nvar RTU0_list =[];\nmsg1 = {};\nfor(var key in msg.payload){\n    if (key[0] ==\"D\" && key[1]==\"I\")\n    {\n        DI_list.push({\"key\":  key,\n        \"mode\" : msg.payload[key].mode, \n        \"value\" : msg.payload[key].value});\n    }\n    else if (key[0]==\"R\" && key[1]==\"t\")\n    {\n        RTU0_list.push({\"key\":  key, \n        \"Status\" : msg.payload[key].Status, \n        \"Data\" :msg.payload[key].Data});\n    }\n    // if (key[0]==\"D\" && key[1]==\"e\")\n    // {\n    //   // Device_List.push({});\n    // }\n}\nmsg.payload = DI_list;\nmsg1.payload = RTU0_list;\nreturn [msg, msg1];","outputs":2,"noerr":0,"x":570,"y":220,"wires":[["deea26c6.947838"],[]]},{"id":"ad909961.806ac8","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.220","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ef5a0d1f.443ff","type":"ui_group","z":"","name":"DI channles","tab":"ecc38a15.b53138","order":4,"disp":true,"width":"15"},{"id":"49404c17.ccb214","type":"ui_group","z":"","name":"RTU Channel","tab":"ecc38a15.b53138","order":5,"disp":true,"width":"15","collapse":false},{"id":"9a64aa79.630c28","type":"ui_group","z":"","name":"Counter overflow","tab":"ecc38a15.b53138","order":6,"disp":true,"width":"4"},{"id":"74c7aef4.e352","type":"ui_group","z":"","name":"RTU1 Alarm","tab":"ecc38a15.b53138","order":8,"disp":true,"width":"4","collapse":false},{"id":"cb8bd404.5ee368","type":"ui_group","z":"","name":"Title","tab":"ecc38a15.b53138","order":1,"disp":true,"width":"34"},{"id":"14389919.7e1f87","type":"ui_group","z":"","name":"History data chart","tab":"ecc38a15.b53138","order":3,"disp":true,"width":"15","collapse":false},{"id":"f22b9a5b.3f4598","type":"ui_group","z":"","name":"Device active","tab":"ecc38a15.b53138","order":2,"disp":true,"width":"34"},{"id":"53fa2d02.694b84","type":"ui_group","z":"","name":"RTU0 Alarm","tab":"ecc38a15.b53138","order":7,"disp":true,"width":"4","collapse":false},{"id":"ecc38a15.b53138","type":"ui_tab","z":"","name":"WISE-4610_S614","icon":"dashboard","order":1}]